* .container-fluid{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}
h1,h3 {
  color: #6E1FFF;
  font-weight: 300;
}
h2 {
  color: white;
  font-weight: 300;
}
.load {
  display: block;
  margin-left: 35%;
  margin-top: 50%;
  width: 30%;
  color: white;
}
.icons {
  margin-top: 5%;
  padding-left: 30px;
  color: #6E1FFF;
}
.user{
  display: inline-block;
  font-weight: 700;
  margin-left: 10px;
}
.location {
  display: block;
  margin-left: 10px;
  margin-bottom: 0px;
}
.image-user{
  margin-left: 30px;
  outline: 1px solid #6E1FFF;
}
.picture{
  margin-left: 3em;
  margin-top: 2em;
}
p{
  color: #181743;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: justify;
}
/* Add coments */
textarea {
  border-color: #6E1FFF;
  border-radius: 15px;
}
.post {
  background-color: #6E1FFF;
}
.cont {
  color: transparent;
}
/*pantalla1*/
 #pantalla1 {
 background-image: url( ../assets/images/omar_barquet.jpg);
 height: 120vh;
 margin: 0;
 width: 100%;
}
#logo-morado {
   display: block;
   margin-left: 35%;
   margin-top: 50%;
   width: 30%;
}
#inicio {
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}
